
<form action="/teams" method="POST">
  <h1>Create a Team and Heroes!</h1>
  <p>Team Name: <input type="text" name="team_name" /></p>
  <p>Team Motto: <input type="text" name="team_motto" /></p>

  <h1>Hero 1</h1>
  <p>Hero's Name: <input type="text" name="hero_name" /></p>
  <p>Hero's Power: <input type="text" name="hero_power" /></p>
  <p>Hero's Biography: <textarea name=hero_biography></textarea></p>

  <h1>Hero 2</h1>
  <p>Hero's Name: <input type="text" name="hero_name" /></p>
  <p>Hero's Power: <input type="text" name="hero_power" /></p>
  <p>Hero's Biography: <textarea name=hero_biography></textarea></p>

  <h1>Hero 3</h1>
  <p>Hero's Name: <input type="text" name="hero_name" /></p>
  <p>Hero's Power: <input type="text" name="hero_power" /></p>
  <p>Hero's Biography: <textarea name=hero_biography></textarea></p>


  <input id="Submit" type="submit" value="submit">
</form>
